<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/admin-layout :: fragment(
        ~{::title},
        ~{:: #header},
        ~{:: #main-content}
      )}">
<head>
    <title>Admin - Danh mục sản phẩm</title>
</head>
<body>
<div id="header" class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block"
                         th:fragment="breadcrumb">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a th:href="@{/admin}"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Danh mục sản phẩm</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-12" th:if="${errorMessage}">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                <span class="alert-text">
                                    <strong>Lỗi!</strong>
                                    <span th:text="${errorMessage}"></span>
                                </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <h3 class="mb-0">Thêm danh mục</h3>
                        </div>
                        <div class="col text-right">
                            <a th:href="@{/admin/categories}" class="btn btn-sm btn-outline-danger">
                                <i class="ni ni-bold-left"></i>
                                Trở về
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form method="post" autocomplete="off"
                          th:action="@{/admin/categories/create}"
                          th:object="${category}">
                        <div class="form-group" th:if="${category.categoryId}">
                            <label for="categoryId">Mã danh mục</label>
                            <input type="text" th:field="*{categoryId}" readonly
                                   class="form-control" id="categoryId">
                        </div>

                        <div class="form-group">
                            <label for="categoryName">Tên danh mục</label>
                            <input type="text" th:field="*{categoryName}" required
                                   class="form-control" id="categoryName">
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}">
                                Vui lòng nhập thông tin này
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="description">Mô tả</label>
                            <textarea rows="3" th:field="*{description}"
                                      class="form-control" id="description"></textarea>
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                                Vui lòng nhập thông tin này
                            </span>
                        </div>

                        <div class="form-group text-left">
                            <button type="reset" class="btn btn-warning">Làm mới</button>
                            <button type="submit" class="btn btn-outline-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>