<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/admin-layout :: fragment(
        ~{::title},
        ~{:: #header},
        ~{:: #main-content}
      )}">
<head>
    <title>Admin - Quản lý danh mục sản phẩm</title>
</head>
<body>
<div id="header" class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block"
                         th:fragment="breadcrumb">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a th:href="@{/admin}"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Danh mục sản phẩm</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <!--/*@thymesVar id="successMessage" type="java.lang.String"*/-->
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${successMessage}">
                                <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                <span class="alert-text">
                                    <strong>Thành công !</strong>
                                    <span th:utext="${successMessage}"></span>
                                </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                 th:if="${errorMessage}">
                                <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                <span class="alert-text">
                                    <strong>Lỗi !</strong>
                                    <span th:utext="${errorMessage}"></span>
                                </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <h3 class="mb-0">Danh mục sản phẩm</h3>
                        </div>
                        <div class="col text-right">
                            <a th:href="@{/admin/categories/create}" class="btn btn-sm btn-primary">
                                <i class="ni ni-fat-add"></i>
                                Thêm
                            </a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table table-hover align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên danh mục</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category: ${categories}">
                            <th scope="row" th:utext="${category.categoryId}"></th>
                            <td th:utext="${category.categoryName}"></td>
                            <td th:utext="${category.description}"></td>
                            <td class="text-right">
                                <a th:href="@{'/admin/categories/' + ${category.categoryId}}"
                                   class="px-1"
                                   data-toggle="tooltip" data-placement="top"
                                   title="Cập nhật">
                                    <i class="fas fa-user-edit"></i>
                                </a>

                                <a href="javascript:void(0)"
                                   class="px-1" data-placement="top"
                                   data-toggle="modal" th:data-target="'#modal-confirm' + ${category.categoryId}"
                                   title="Xóa">
                                    <i class="fas fa-trash-alt text-danger"></i>
                                </a>

                                <div class="modal fade" th:id="modal-confirm + ${category.categoryId}" tabindex="-1"
                                     role="dialog" aria-labelledby="modal-confirm" aria-hidden="true">
                                    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                        <div class="modal-content bg-gradient-danger">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <div class="py-3 text-center">
                                                    <i class="ni ni-bell-55 ni-3x"></i>
                                                    <h4 class="heading mt-4">Cảnh báo !</h4>
                                                    <p>Bạn có chắc muốn xóa danh mục [
                                                        <span th:utext="${category.categoryName}"></span>
                                                        ] này không ?</p>
                                                </div>
                                            </div>

                                            <div class="modal-footer text-right">
                                                <form th:action="@{'/admin/categories/' + ${category.categoryId} + '/delete'}"
                                                        method="post">
                                                    <button type="submit" class="btn btn-white">Đồng ý</button>
                                                </form>
                                                <button type="button" class="btn btn-link text-white"
                                                        data-dismiss="modal">Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer" th:if="${totalPage != null && totalPage >= 1}">
                    <ul class="pagination justify-content-end">
                        <li class="page-item"
                            th:if="${param.page != null
                            && #numbers.formatInteger(param.page, 1) > #numbers.formatInteger(1, 1)}">
                            <a class="page-link" tabindex="-1"
                               th:href="@{/admin/categories(page=${#numbers.formatInteger(param.page, 1)} - 1)}">
                                <i class="fa fa-angle-left"></i>
                                <span class="sr-only">Trang trước</span>
                            </a>
                        </li>
                        <li class="page-item"
                            th:classappend="${#numbers.formatInteger(param.page, 1) == #numbers.formatInteger(page, 1)} ? 'active' : ''"
                            th:each="page : ${#numbers.sequence(1, totalPage, 1)}">
                            <a class="page-link"
                               th:href="@{/admin/categories(page=${page})}"
                               th:utext="${page}"></a>
                        </li>
                        <li class="page-item"
                            th:if="${param.page != null
                            && #numbers.formatInteger(param.page, 1) < #numbers.formatInteger(totalPage, 1)}"
                            th:classappend="${#numbers.formatInteger(param.page, 1) == #numbers.formatInteger(totalPage, 1) ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/admin/categories(page=${#numbers.formatInteger(param.page, 1)} + 1)}">
                                <i class="fa fa-angle-right"></i>
                                <span class="sr-only">Trang sau</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>