<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="fragment (title, mainContent)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CHC Shop System">
    <meta name="author" content="CHC Team">
    <title th:replace="${title}">CHC Shop</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" th:href="@{images}">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/nucleo/css/nucleo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{'/vendor/@fortawesome/fontawesome-free/css/all.min.css'}">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/argon.css}">
</head>
<body>
<!-- Topnav -->
<div th:replace="/fragments/navbar :: navbar-user"></div>

<!-- Main content -->
<div class="main-content" th:replace="${mainContent}" style="min-height: 500px"></div>

<!-- Footer -->
<div th:replace="/fragments/footer :: footer-user"></div>

<script th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/js-cookie/js.cookie.js}"></script>
<script th:src="@{/vendor/jquery.scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js}"></script>
<script th:src="@{/vendor/chart.js/dist/Chart.min.js}"></script>
<script th:src="@{/vendor/chart.js/dist/Chart.extension.js}"></script>
<script th:src="@{/js/argon.js}"></script>
</body>
</html>