<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/master-layout :: fragment(
        ~{::title},
        ~{:: #main-content}
      )}">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
</head>
<body>
<div id="main-content" class="container pt-4" style="min-height: 400px">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorMess ne ''}">
                <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                <span class="alert-text" th:text="${errorMess}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="col-lg-12">
            <h3 class="pl-2">GIỎ HÀNG <span
                    th:text="'(' + ${chcCart.getCartQuantity() + ' sản phẩm)'}"></span></h3>
        </div>
    </div>

    <div class="row" th:block th:if="${chcCart == null || chcCart.cartItems == null || chcCart.cartItems.isEmpty()}">
        <div class="col-lg-12">
            <div class="card" style="padding: 50px;">
                <div class="card-body" align="center">
                    <img class="img-fluid" th:src="@{/images/theme/empty-cart.png}"
                         alt="Empty Card" width="200px"/>
                    <p style="padding: 10px; font-size: x-large;" class="card-text">Không có sản phẩm nào trong giỏ
                        hàng của bạn.</p>
                    <a th:href="@{/}" class="btn btn-warning btn-lg" style="padding: 10px 60px;">Tiếp tục
                        mua sắm</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" th:block th:if="${chcCart != null && chcCart.cartItems != null && !chcCart.cartItems.isEmpty() }">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12" th:each="item : ${chcCart.cartItems}">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img class="img-fluid" th:src="${item.product.imageUrl}"
                                         style="width: 100%; height: 90px"
                                         alt="image product"/>
                                </div>
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-12 col-lg-9">
                                            <h4 th:text="${item.product.productName}"></h4>
                                            <small>
                                                Cung cấp bởi:
                                                <a href="#" th:text="${item.product.brand?.brandName}"></a>
                                            </small>
                                            <h4 class="strong mt-2 mb-0 text-danger"
                                                th:text="${#numbers.formatCurrency(item.product.price)}"></h4>
                                            <div class="d-block align-bottom">
                                                <small class="mt-2 mb-0">
                                                    <a href="javascript:void(0)"
                                                       class="btn-link mt-2 mb-0" data-placement="center"
                                                       data-toggle="modal"
                                                       th:data-target="'#modal-confirm' + ${item.product.productId}"
                                                       title="Xóa sản phẩm này">Xoá</a>
                                                </small>
                                                <!-- Modal hỏi có xoá item ra khi nhập 0 -->
                                                <div class="modal fade"
                                                     th:id="modal-confirm + ${item.product.productId}" tabindex="-1"
                                                     role="dialog" aria-labelledby="modal-confirm" aria-hidden="true">
                                                    <div class="modal-dialog modal-danger modal-dialog-centered modal-"
                                                         role="document">
                                                        <div class="modal-content bg-gradient-danger">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>

                                                            <div class="modal-body">
                                                                <div class="py-3 text-center">
                                                                    <i class="ni ni-bell-55 ni-3x"></i>
                                                                    <h4 class="heading mt-4">Cảnh báo !</h4>
                                                                    <p>Bạn chắc chắn muốn bỏ sản phẩm này?</p>
                                                                    <p></p>
                                                                </div>
                                                            </div>

                                                            <div class="modal-footer text-right">
                                                                <form th:action="@{/cart/remove}" method="post">
                                                                    <input type="hidden"
                                                                           th:value="${item.product.productId}"
                                                                           name="pid"/>
                                                                    <input type="submit" class="btn btn-white"
                                                                           value="Đồng ý"/>
                                                                </form>
                                                                <button type="button" class="btn btn-link text-white"
                                                                        data-dismiss="modal">Hủy
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-3">
                                            <form class="d-inline-block" th:action="@{/cart/update}" method="post">
                                                <input type="hidden" th:value="${item.product.productId}"
                                                       name="pid"/>
                                                <div class="form-group">
                                                    <input class="form-control" type="number"
                                                           th:value="${item.quantity}"
                                                           step="1" min="0" name="quantity"
                                                           onchange="this.form.submit()">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-block">
                        <h4 class="d-inline-block">Tạm tính</h4>
                        <p class="float-right d-inline-block">
                            <strong th:text="${chcCart.calculateTotal()} + ' đ'"></strong>
                        </p>
                    </div>
                    <hr/>
                    <div class="d-block">
                        <h4 class="d-inline-block">Thành tiền</h4>
                        <h2 class="float-right d-inline-block text-danger">
                            <strong th:text="${chcCart.calculateTotal()} + ' đ'"></strong>
                        </h2>
                    </div>
                </div>
            </div>

            <a class="btn btn-danger btn-block" th:href="@{/checkout}">TIẾN HÀNH ĐẶT HÀNG</a>
        </div>
    </div>
</div>
</body>
</html>