<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/master-layout :: fragment(
        ~{::title},
        ~{:: #main-content}
      )}">
<head>
    <meta charset="UTF-8">
    <title>Thanh toán</title>

</head>
<body>
<div id="main-content" class="container pt-4">
    <form method="post" autocomplete="off"
          th:action="@{/checkout}"
          th:object="${order}">
        <div class="row">
            <!-- Thông tin giao hàng -->
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>1.1 Thông tin mua hàng</h4>
                                <div class="form-group">
                                    <label for="fullName">Tên </label><b style="color: red;">*</b>
                                    <input type="text" th:field="*{user.fullName}" class="form-control"
                                           id="fullName"
                                           placeholder="Họ tên" readonly required>
                                </div>

                                <div class="form-group">
                                    <label for="phone">Số điện thoại <b style="color: red;">*</b></label>
                                    <input type="text" th:field="*{user.phone}" class="form-control" id="phone"
                                           placeholder="Vui lòng điền số điện thoại của bạn" readonly required>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email <b style="color: red;">*</b></label>
                                    <input type="email" th:field="*{user.email}" class="form-control" id="email"
                                           placeholder="Vui lòng điền email của bạn" readonly required>
                                </div>

                                <div class="form-group">
                                    <label for="shippingAddress">Địa chỉ nhận hàng <b style="color: red;"></b></label>
                                    <textarea th:field="*{shippingAddress}" class="form-control"
                                              id="shippingAddress" placeholder="Vui lòng nhập địa chỉ của bạn"></textarea>
                                    <small class="text-danger"
                                           th:if="${#fields.hasErrors('shippingAddress')}" th:errors="*{shippingAddress}">
                                        Vui lòng nhập thông tin này
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="note">Ghi chú</label>
                                    <textarea th:field="*{note}" class="form-control" id="note"
                                              placeholder="Ghi chú"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <h4>1.2 Chọn phương thức thanh toán</h4>
                                <div class="custom-control custom-radio mb-3">
                                    <input name="method" class="custom-control-input" id="method"
                                           type="radio" checked>
                                    <label class="custom-control-label" for="method">Thanh toán khi giao
                                        hàng (COD) <i class="fa fa-money"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-danger btn-block" value="Thanh toán">
                    </div>
                </div>
            </div>
            <!-- Thông tin giao hàng -->

            <!-- Thông tin đơn hàng (giỏ hàng) -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <h4 th:text="'Đơn hàng (' + ${order.orderDetails.size()} + ')'"></h4>
                            </div>
                            <div class="col-lg-4 text-right pr-2">
                                <a class="btn btn-sm btn-outline-primary" th:href="@{/cart}">Sửa</a>
                            </div>
                        </div>

                        <ul class="list-group list-group-flush" th:each="item : ${order.orderDetails}">
                            <li class="list-group-item">
                                <h5 class="mb-1">
                                    <strong th:text="${item.quantity} + ' x'"></strong>
                                    <span th:text="${item.product.productName}"></span>
                                </h5>
                                <small th:text="${item.unitPrice}"></small>
                            </li>
                        </ul>
                        <div class="d-block mt-3">
                            <h5 class="d-inline-block">Tạm tính</h5>
                            <p class="float-right d-inline-block">
                                <input type="hidden" th:value="*{total}" name="total">
                                <strong th:text="${order.total} + ' đ'"></strong>
                            </p>
                        </div>
                        <hr class="my-2"/>
                        <div class="d-block">
                            <h5 class="d-inline-block">Thành tiền</h5>
                            <h2 class="float-right d-inline-block text-danger">
                                <strong th:text="${order.total} + ' đ'"></strong>
                            </h2>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Thông tin đơn hàng (giỏ hàng) -->
        </div>
    </form>
</div>
</body>
</html>