<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/master-layout :: fragment(
        ~{::title},
        ~{:: #main-content}
      )}">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>
<div class="bg-default pb-7" id="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-5">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8">
                        <h1 class="text-white">Chào mừng bạn đến với CHCShop!</h1>
                        <p class="text-lead text-white">Đăng nhập để mua được những phụ kiện âm thanh chính hãng nhé.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <h2 class="py-2">Đăng nhập</h2>
                        <form role="form" autocomplete="off" method="post"
                              th:action="@{/auth}" th:object="${loginForm}">
                            <div class="form-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input class="form-control" th:field="*{email}"
                                           placeholder="Email" type="email">
                                    <span class="text-danger"
                                          th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                                        Vui lòng nhập thông tin này
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input class="form-control" th:field="*{password}"
                                           placeholder="Mật khẩu" type="password">
                                    <span class="text-danger"
                                          th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                        Vui lòng nhập thông tin này
                                    </span>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Đăng nhập</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <a th:href="@{/forgot-password}" class="text-light"><small>Quên mật khẩu ?</small></a>
                    </div>
                    <div class="col-6 text-right">
                        <a th:href="@{/register}" class="text-light"><small>Đăng ký thành viên</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>