<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/master-layout :: fragment(
        ~{::title},
        ~{:: #main-content}
      )}">
<head>
    <meta charset="UTF-8">
    <title th:utext="${product.productName}"></title>
</head>
<body>
<div id="main-content" class="container pt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img class="card-img-top img-fluid"
                                 style="width: 100%; height: 310px"
                                 th:src="${product.imageUrl}"
                                 th:alt="${product.productName}">
                        </div>

                        <div class="col-8">
                            <h1 th:utext="${product.productName}"></h1>
                            <small class="pt-2">
                                Thương hiệu:
                                <a th:href="@{'/brand/' + ${product.brand?.brandId}}"
                                   th:utext="${product.brand?.brandName}"></a>
                            </small>
                            <small class="pl-3">
                                SKU:
                                <span th:utext="${ product.sku }"></span>
                            </small>
                            <hr class="d-block"/>
                            <h1 class="text-danger" th:utext="${#numbers.formatCurrency(product.price)}"></h1>
                            <form class="form-inline mt-5" th:action="@{/addToCart}" method="post">
                                <input type="hidden" th:value="${product.productId}" name="pid"/>
                                <input type="hidden" value="product-detail" name="fromPage"/>
                                <div class="form-group">
                                    <input class="form-control" type="number" name="quantity"
                                           value="1"
                                           step="1" min="1" th:max="${ product.quantity }">
                                </div>
                                <input type="submit" class="btn btn-danger mx-2" value="THÊM VÀO GIỎ HÀNG">
                            </form>
                            <hr class="d-block"/>
                            <pre th:utext="${ product.description }"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>