<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/master-layout :: fragment(
        ~{::title},
        ~{:: #main-content}
      )}">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký thành viên thành công</title>
</head>
<body>
<div id="main-content" class="bg-default pb-7">
    <!-- Header -->
    <div class="header bg-gradient-primary py-6">
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center py-7">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <h2 class="pb-4 text-center">Đăng ký thành viên thành công</h2>
                        <div class="mt-1 text-center">
                            <a th:href="@{/login}" class="btn btn-outline-primary">Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>