<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/master-layout :: fragment(
        ~{::title},
        ~{:: #main-content}
      )}">
<head>
    <meta charset="UTF-8">
    <title>Thanh toán</title>

</head>
<body>
<div id="main-content" class="container pt-4">
    <div class="row">
        <div class="col-8 px-1">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12 text-center">
                            <i class="far fa-check-circle fa-6x text-success"></i>
                            <h1 class="pt-2">Cảm ơn bạn đã đặt hàng</h1>
                            <p th:text="'Một email xác nhận đơn hàng đã được gửi đến ' + ${order.user.email} +'. Xin vui lòng kiểm tra email của bạn'"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header" th:text="'Đơn hàng #' + ${order.orderId} + ' (' + ${order.getOrderQuantity()} + ' sản phẩm)'">
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" th:each="item : ${order.orderDetails}">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <img class="img-fluid" th:src="${item.product.imageUrl}"
                                             alt="image product"/>
                                        <span class="badge badge-light" th:text="${item.quantity}"></span>
                                    </div>
                                    <div class="col-lg-6">
                                        <h3 th:text="${item.product.productName}"></h3>
                                    </div>
                                    <div class="col text-right">
                                        <h3 th:text="${#numbers.formatCurrency(item.unitPrice)}"></h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="d-block mt-2">
                            <h4 class="d-inline-block">Tạm tính</h4>
                            <p class="float-right d-inline-block">
                                <strong th:text="${#numbers.formatCurrency(order.total)}"></strong>
                            </p>
                        </div>
                        <hr class="my-3"/>
                        <div class="d-block mt-2">
                            <h4 class="d-inline-block">Thành tiền</h4>
                            <h2 class="float-right d-inline-block text-danger">
                                <strong th:text="${#numbers.formatCurrency(order.total)}"></strong>
                            </h2>
                        </div>
                    </div>
                </div>

                <a class="btn btn-danger btn-block" th:href="@{/}">TIẾP TỤC MUA HÀNG</a>
            </div>
        </div>
        <div class="col-4 px-1">
            <div class="card border-dark mb-3">
                <div class="card-header">Thông tin đơn hàng</div>
                <div class="card-body text-dark">
                    <h3 class="card-title">Thông tin giao hàng</h3>
                    <p class="card-text">
                        Họ và tên: <span th:text="${order.user.fullName}"></span> <br>
                        Số điện thoại: <span th:text="${order.user.phone}"></span> <br>
                        Email: <span th:text="${order.user.email}"></span> <br>
                        Địa chỉ: <span th:text="${order.shippingAddress}"></span> <br>
                        Ghi chú: <span th:text="${order.note}"></span> <br>
                    </p>
                    <h3 class="card-title">Hình thức thanh toán</h3>
                    <p class="card-text">Thanh toán khi giao hàng (COD)</p>
                    <h3 class="card-title">Hình thức vận chuyển</h3>
                    <p class="card-text">Giao hàng tận nơi</p>
                </div>
            </div>
        </div>

        <!-- Thông tin đơn hàng (giỏ hàng) -->

        <!-- Thông tin đơn hàng (giỏ hàng) -->
    </div>
</div>
</body>
</html>