<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/master-layout :: fragment(
        ~{::title},
        ~{:: #main-content}
      )}">
<head>
    <meta charset="UTF-8">
    <title>Xác thực tài khoản</title>
</head>
<body>
<div id="main-content" class="bg-default pb-7">
    <!-- Header -->
    <div class="header bg-gradient-primary py-5">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8">
                        <h1 class="text-white">Xác thực tài khoản</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                     th:if="${errorMessage != null && !errorMessage.isEmpty()}">
                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-text">
                        <strong>Lỗi !</strong>
                        <span th:utext="${errorMessage}"></span>
                    </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <h3 class="mb-3">Xác thực tài khoản</h3>
                        <form role="form" method="post" autocomplete="off"
                              th:action="@{/verification}" th:object="${verificationForm}">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input class="form-control" th:field="*{email}"
                                           placeholder="Email" type="email" readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ni ni-key-25"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" th:field="*{otp}"
                                           placeholder="Mã xác thực" type="text">
                                    <span class="text-danger"
                                          th:if="${#fields.hasErrors('otp')}" th:errors="*{otp}">
                                        Vui lòng nhập thông tin này
                                    </span>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Xác thực tài khoản</button>
                            </div>
                        </form>

                        <div class="mt-1 text-center">
                            <small>
                                Bạn chưa nhận được mã xác thực ? Gửi lại
                                <a th:href="@{/verification/resend(email=${verificationForm.email})}">tại đây</a>.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>