<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/admin-layout :: fragment(
        ~{::title},
        ~{:: #header},
        ~{:: #main-content}
      )}">
<head>
    <title>Admin - Sản phẩm</title>
</head>
<body>
<div id="header" class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block"
                         th:fragment="breadcrumb">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a th:href="@{/admin}"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-12" th:if="${errorMessage}">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                <span class="alert-text">
                                    <strong>Lỗi!</strong>
                                    <span th:text="${errorMessage}"></span>
                                </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <h3 class="mb-0">Thêm sản phẩm</h3>
                        </div>
                        <div class="col text-right">
                            <a th:href="@{/admin/products}" class="btn btn-sm btn-outline-danger">
                                <i class="ni ni-bold-left"></i>
                                Trở về
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form method="post" autocomplete="off" enctype="multipart/form-data"
                          th:action="@{/admin/products/create}"
                          th:object="${productForm}">
                        <div class="custom-control custom-checkbox text-right">
                            <input type="checkbox" class="custom-control-input" id="published"
                                   th:field="*{published}">
                            <label class="custom-control-label" for="published">
                                <strong class="h3">Đăng bán</strong>
                            </label>
                        </div>

                        <div class="form-group" th:if="${productForm.productId}">
                            <label for="productId">Mã sản phẩm</label>
                            <input type="text" th:field="*{productId}" readonly
                                   class="form-control" id="productId">
                        </div>

                        <div class="form-group">
                            <label for="productName">Tên sản phẩm</label>
                            <input type="text" th:field="*{productName}" required
                                   class="form-control" id="productName">
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}">
                                Vui lòng nhập thông tin này
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="price">Giá</label>
                            <div class="input-group">
                                <input type="number" th:field="*{price}" required
                                       class="form-control" id="price" step="100" min="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">đồng</span>
                                </div>
                            </div>
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
                                Vui lòng nhập thông tin này
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="quantity">Số lượng tồn</label>
                            <div class="input-group">
                                <input type="number" th:field="*{quantity}" min="0" step="1" required
                                       class="form-control" id="quantity">
                                <div class="input-group-append">
                                    <span class="input-group-text">sản phẩm</span>
                                </div>
                            </div>
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">
                                Vui lòng nhập thông tin này
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="warrantyPeriod">Thời gian bảo hành</label>
                            <div class="input-group">
                                <input type="number" th:field="*{warrantyPeriod}" step="1" min="0" required
                                       class="form-control" id="warrantyPeriod">
                                <div class="input-group-append">
                                    <span class="input-group-text">tháng</span>
                                </div>
                            </div>
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('warrantyPeriod')}" th:errors="*{warrantyPeriod}">
                                Vui lòng nhập thông tin này
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="origin">Xuất xứ</label>
                            <input type="text" th:field="*{origin}" required
                                   class="form-control" id="origin">
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}">
                                Vui lòng nhập thông tin này
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="sku">SKU</label>
                            <input type="text" th:field="*{sku}" required
                                   class="form-control" id="sku">
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('sku')}" th:errors="*{sku}">
                                Vui lòng nhập thông tin này
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="brand">Thương hiệu</label>
                            <select class="form-control" id="brand" th:field="*{brandId}">
                                <option th:each="brand : ${brands}"
                                        th:text="${brand.brandName}"
                                        th:value="${brand.brandId}"></option>
                            </select>
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('brandId')}" th:errors="*{brandId}">
                                Vui lòng nhập thông tin này
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="supplier">Nhà cung cấp</label>
                            <select class="form-control" id="supplier" th:field="*{supplierId}">
                                <option th:each="supplier : ${suppliers}"
                                        th:text="${supplier.supplierName}"
                                        th:value="${supplier.supplierId}"></option>
                            </select>
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('supplierId')}" th:errors="*{supplierId}">
                                Vui lòng nhập thông tin này
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="category">Danh mục sản phẩm</label>
                            <select class="form-control" id="category" th:field="*{categoryId}">
                                <option th:each="category : ${categories}"
                                        th:text="${category.categoryName}"
                                        th:value="${category.categoryId}"></option>
                            </select>
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}">
                                Vui lòng nhập thông tin này
                            </span>
                        </div>

                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="images" name="file" accept="image/*"
                                   lang="vi">
                            <label class="custom-file-label" for="images">Chọn hình</label>
                        </div>

                        <div class="form-group py-2">
                            <label for="description">Mô tả</label>
                            <textarea rows="3" th:field="*{description}"
                                      class="form-control" id="description"></textarea>
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                                Vui lòng nhập thông tin này
                            </span>
                        </div>

                        <div class="form-group text-left">
                            <button type="reset" class="btn btn-warning">Làm mới</button>
                            <button type="submit" class="btn btn-outline-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>