<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Thông tin đăng ký tài khoản tại CHCShop.tk®</title>
</head>
<body>
<p><strong><img src="https://bizweb.dktcdn.net/100/318/614/themes/667160/assets/logo.png?1593719176030" alt=""
                width="63" height="80"/></strong></p>
<p><strong>Chào mừng đến với CHCShop.tk®</strong></p>
<p>Cảm ơn <span th:utext="${fullName}"></span> đã đăng ký tài khoản tại cửa hàng của chúng tôi.</p>
<p>Địa chỉ email đã dùng để đăng ký tài khoản:
    <span th:text="${email}">
</p>
<p>Anh/chị vui lòng truy cập vào tài khoản theo địa chỉ <a href="@{/}">CHC Shop</a> để thực hiện đặt hàng và quản lý
    giao dịch nhanh chóng thuận tiện hơn.</p>
<p>Truy cập vào cửa hàng để tiếp tục mua sắm với chúng tôi</p>
<p><span style="background-color: #ffff00;"><a style="background-color: #ffff00;"
                                               href="@{/}">Đến cửa hàng của chúng tôi</a></span>
</p>
<hr/>
<p style="text-align: right;">Nếu Anh/chị có bất kỳ câu hỏi nào, xin liên hệ với chúng tôi tại <a
        href="mailto:chcshoptkm@gmail.com">chcshop.tk@gmail.com</a></p>
<p style="text-align: right;"><em>Trân trọng</em></p>
<p style="text-align: right;"><strong>Ban quản trị cửa hàng CHCShop.Tk</strong></p>
</body>
</html>