<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <footer class="footer pt-3">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center text-lg-left  text-muted">
                    &copy; 2020
                    <a th:href="@{/}" class="font-weight-bold ml-1">
                    CHC Team
                </a>
                </div>
            </div>
        </div>
    </footer>
</div>

<div th:fragment="footer-user">
    <div class="container-fluid bg-default pt-7 pb-9 px-9 text-white mt-9">
        <div class="row">
            <div class="col-lg-3">
                <h4 class="text-white">CHC TEAM</h4>
                <hr class="mt-1 mb-2 border-neutral"/>
                <ol class="pl-3">
                    <li>Nguyễn Chí Cường</li>
                    <li>Phan Thị Minh Châu</li>
                    <li>Nguyễn Thị Ngọc Huyền</li>
                </ol>
            </div>
            <div class="col-lg-3">
                <h4 class="text-white">Liên kết nhanh</h4>
                <hr class="mt-1 mb-2 border-neutral"/>
                <a class="d-block text-white" th:href="@{/login}">Đăng nhập</a>
                <a class="d-block text-white" th:href="@{/register}">Đăng ký</a>
            </div>
            <div class="col-lg-3">
                <h4 class="text-white">Bắt đầu</h4>
                <hr class="mt-1 mb-2 border-neutral"/>
                <small class="d-block">Để mua được những phụ kiện chính hãng vui lòng đăng nhập.</small>
                <a class="btn btn-primary mt-3" th:href="@{/login}">Đăng nhập</a>
            </div>
            <div class="col-lg-3">
                <h4 class="text-white">Liên hệ</h4>
                <hr class="mt-1 mb-2 border-neutral"/>
                <small class="d-block">
                    <a href="mailto:nguyenchicuong2402@gmail.com">nguyenchicuong2402@gmail.com</a>
                </small>
                <div class="mt-3">
                    <a class="text-white px-1"
                       href="https://facebook.com" target="_blank">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a class="text-white px-1"
                       href="https://github.com/" target="_blank">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                    <a class="text-white px-1"
                       href="https://gitlab.com/" target="_blank">
                        <i class="fab fa-gitlab fa-2x"></i>
                    </a>
                    <a class="text-white px-1"
                       href="https://twitter.com/" target="_blank">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>