<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom"
     th:fragment="navbar-admin">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Search form -->
            <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main"
                  method="get">
                <div class="form-group mb-0">
                    <div class="input-group input-group-alternative input-group-merge">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Nhập từ khóa cần tìm ..."
                               type="text" name="q" th:value="${param.q}">
                    </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </form>
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center  ml-md-auto ">
                <li class="nav-item d-xl-none">
                    <!-- Sidenav toggler -->
                    <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                         data-target="#sidenav-main">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </div>
                </li>
                <li class="nav-item d-sm-none">
                    <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                        <i class="ni ni-zoom-split-in"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="media align-items-center">
                            <i class="ni ni-single-02"></i>
                            <div class="media-body  ml-2  d-none d-lg-block">
                                <span class="mb-0 text-sm  font-weight-bold"
                                      th:utext="${#session.getAttribute('USER_FULLNAME_SESSION')}">
                                </span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu  dropdown-menu-right ">
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">
                                Chào
                                <span th:utext="${#session.getAttribute('USER_FULLNAME_SESSION')}"></span>
                                !
                            </h6>
                        </div>
                        <a th:href="@{/}" class="dropdown-item">
                            <i class="ni ni-planet"></i>
                            <span>Trở về cửa hàng</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a th:href="@{/logout}" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="navbar-user" class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-default">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">CHC SHOP</a>
        <!-- Search form -->
        <form class="navbar-search navbar-search-light form-inline mr-sm-3 pl-3" method="get"
              th:action="@{/search}">
            <div class="form-group mb-0">
                <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Nhập từ khóa cần tìm ..."
                           type="text" name="q" th:value="${param.q}">
                </div>
            </div>
            <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main"
                    aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default"
                aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-default">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a class="navbar-brand" th:href="@{/}">CHC SHOP</a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item"
                    th:if="${#session.getAttribute('SPRING_SECURITY_CONTEXT') == null}">
                    <a class="nav-link" th:href="@{/login}">Đăng nhập</a>
                </li>

                <li class="nav-item"
                    th:if="${#session.getAttribute('SPRING_SECURITY_CONTEXT') == null}">
                    <a class="nav-link" th:href="@{/register}">Đăng ký</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-icon"
                       th:href="@{/cart}">
                        <i class="ni ni-cart"></i>
                        <span class="nav-link-inner--text d-lg-none">Giỏ hàng</span>
                        <span class="badge badge-circle badge-danger"
                              th:text="${#session.getAttribute('CART_SESSION_QUANTITY') eq null} ? '0' : ${#session.getAttribute('CART_SESSION_QUANTITY')}"></span>
                    </a>
                </li>

                <li class="nav-item"
                    th:if="${#session.getAttribute('SPRING_SECURITY_CONTEXT') != null}">
                    <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <div class="media align-items-center">
                                    <i class="ni ni-single-02"></i>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold"
                                              th:utext="${#session.getAttribute('USER_FULLNAME_SESSION')}"></span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu  dropdown-menu-right ">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">
                                        Chào
                                        <span th:utext="${#session.getAttribute('USER_FULLNAME_SESSION')}"></span>
                                        !
                                    </h6>
                                </div>
                                <a th:href="@{/admin}" class="dropdown-item"
                                   th:if="${#session.getAttribute('IS_ADMIN') != null
                                    && #session.getAttribute('IS_ADMIN') == true}">
                                    <i class="ni ni-shop"></i>
                                    <span>Trang quản trị</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a th:href="@{/logout}" class="dropdown-item">
                                    <i class="ni ni-user-run"></i>
                                    <span>Đăng xuất</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>