<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebar-admin">
        <!-- Brand -->
        <div class="sidenav-header align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img th:src="@{/images/logo/cover.png}"
                     class="img-fluid" alt="...">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav" th:with="currentUrl = ${#httpServletRequest.getServletPath()}">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${currentUrl.startsWith('/admin/dashboard')} ? active : ''"
                           th:href="@{/admin/dashboard}">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Tổng quan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${currentUrl.startsWith('/admin/orders')} ? active : ''"
                           th:href="@{/admin/orders}">
                            <i class="ni ni-basket text-primary"></i>
                            <span class="nav-link-text">Quản lý đơn hàng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${currentUrl.startsWith('/admin/products')} ? active : ''"
                           th:href="@{/admin/products}">
                            <i class="ni ni-box-2 text-yellow"></i>
                            <span class="nav-link-text">Quản lý sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${currentUrl.startsWith('/admin/categories')} ? active : ''"
                           th:href="@{/admin/categories}">
                            <i class="ni ni-books text-default"></i>
                            <span class="nav-link-text">Danh mục sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${currentUrl.startsWith('/admin/brands')} ? active : ''"
                           th:href="@{/admin/brands}">
                            <i class="ni ni-trophy text-info"></i>
                            <span class="nav-link-text">Thương hiệu sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${currentUrl.startsWith('/admin/suppliers')} ? active : ''"
                           th:href="@{/admin/suppliers}">
                            <i class="ni ni-shop text-pink"></i>
                            <span class="nav-link-text">Nhà cung cấp</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>