<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/master-layout :: fragment(
        ~{::title},
        ~{:: #main-content}
      )}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CHC Shop System">
    <meta name="author" content="CHC Team">
    <title>CHC Shop</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" th:href="@{images}">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/nucleo/css/nucleo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{'/vendor/@fortawesome/fontawesome-free/css/all.min.css'}">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/argon.css}">
</head>
<body>
<div id="main-content">
    <div class="container-fluid px-6 py-3">
        <div class="row">
            <div class="col-lg-2">
                <ul class="list-group list-group-flush" th:each="category : ${categories}">
                    <li class="list-group-item">
                        <a th:href="@{/category(id=${category.categoryId})}">
                            <small th:text="${category.categoryName}"></small>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-10">
                <div class="row" th:if="${products.isEmpty() || products == null}">
                    <div class="col-12">
                        <h2 class="text-danger pt-2">Không tìm thấy kết quả tìm kiếm</h2>
                    </div>
                </div>


                <div class="row" th:if="${!products.isEmpty() && products != null}">
                    <div class="col-12">
                        <h3 th:if="${category != null}" th:utext="'Sản phẩm ' + ${category.categoryName}"></h3>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-2 pb-1" th:each="product : ${products}">
                        <div class="card" style="width: 100%; height: 300px">
                            <a th:href="@{'/product/' + ${product.productId}}">
                                <img class="card-img-top img-fluid"
                                     style="width: 100%; height: 178px"
                                     th:src="${product.imageUrl}"
                                     th:alt="${product.productName}">
                            </a>
                            <div class="card-body px-3 py-3" >
                                <a th:href="@{'/product/' + ${product.productId}}">
                                    <h5 class="card-title mb-2 word-wrap" th:utext="${product.productName}"></h5>
                                </a>

                                <div class="row align-text-bottom">
                                    <h4 class="py-0 pr-0 col-8 d-block align-text-bottom"
                                        th:utext="${#numbers.formatCurrency(product.price)}"></h4>
                                    <form th:action="@{/addToCart}" method="post" class="col-4">
                                        <input type="hidden"
                                               th:value="${product.productId}"
                                               name="pid"/>
                                        <button class="btn btn-icon btn-outline-danger"
                                                data-toggle="tooltip" data-placement="top"
                                                title="Thêm vào giỏ hàng" id="addToCart">
                                            <i class="fas fa-cart-plus"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#addToCart").click(function () {
            $('#notify').modal('show');
            $('#notify').delay(3000).modal('hide');
        });
    });
</script>
<script th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/js-cookie/js.cookie.js}"></script>
<script th:src="@{/vendor/jquery.scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js}"></script>
<script th:src="@{/vendor/chart.js/dist/Chart.min.js}"></script>
<script th:src="@{/vendor/chart.js/dist/Chart.extension.js}"></script>
<script th:src="@{/js/argon.js}"></script>

</body>
</html>